In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Wed_Venue.csv")
df

,Name,Location,Venue_type,veg_plate_price,non_veg_plate_price,Capacity,Rooms,Ratings
0,The Bristol Hotel,"DLF Phase 1, Gurgaon","4 Star & Above Hotels, Banquet Halls","2,000","2,200",50-1200 pax,83 Rooms,4.4
1,Le Roma Gardenia,"North Bangalore, Bangalore","Banquet Halls, Lawns / Farmhouses","1,000","1,200",400-850 pax,18 Rooms,4.6
2,Trident Lawn,"Vrindavan Colony, Lucknow","Banquet Halls, Lawns / Farmhouses","1,000","1,200",900-1500 pax,7 Rooms,4.9
3,Seven Seas Hotel,"Rohini, Delhi NCR","4 Star & Above Hotels, Banquet Halls","2,600","2,800",80-1275 pax,107 Rooms,4.2
4,"Welcomhotel by ITC Hotels, GST Road, Chennai","Tambaram, Chennai","4 Star & Above Hotels, Banquet Halls","1,500","1,800",100-600 pax,171 Rooms,5.0
...,...,...,...,...,...,...,...,...
9995,Hyatt Regency Dharamshala Resort,Dharamshala,"4 Star & Above Hotels, Banquet Halls","2,000","2,600",300-400 pax,81 Rooms,5.0
9996,The Royal Imperio,"Sector 39, Faridabad","4 Star & Above Hotels, Banquet Halls","1,700","1,800",120-500 pax,31 Rooms,4.4
9997,Chomu Palace Hotel,"Chomu, Jaipur","4 Star & Above Hotels, Banquet Halls","2,000","2,500",40-500 pax,100 Rooms,4.9
9998,Westin Sohna Resort & Spa,"Gurgaon, Delhi NCR","Hotels, Resorts","4,500","4,500",150-350 pax,97 Rooms,4.7
9999,Rajhans Greens,Bangalore,"Banquet Halls, Lawns / Farmhouses",Rental Only,[nan],70-1500 pax,40 Rooms,5.0

In [4]:
df["Minimum"]=df['Capacity'].str.split('-').str[0]

In [5]:
df['Maximum']=df['Capacity'].str.replace('-',' ').str.split().str[1]

In [6]:
df.drop('Capacity',axis=1,inplace=True)

In [7]:
df['Rooms']=df['Rooms'].str.split(' ').str[0]

In [8]:
df["Area"]=df['Location'].str.split(',').str[0]
df["City"]=df['Location'].str.split(',').str[1]

In [9]:
df.drop("Location",axis=1,inplace=True)

In [10]:
df["Name"]=df['Name'].str.split(',').str[0]

In [11]:
df["Venue_type"]=df["Venue_type"].str.split('/').str[-1].str.split(',').str[-1]

In [12]:
df['Name']=df['Name'].str.split(',').str[0]

In [13]:
df1=df.copy()

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 10000 non-null  object
 1   Venue_type           10000 non-null  object
 2   veg_plate_price      10000 non-null  object
 3   non_veg_plate_price  10000 non-null  object
 4   Rooms                10000 non-null  object
 5   Ratings              10000 non-null  float64
 6   Minimum              10000 non-null  object
 7   Maximum              10000 non-null  object
 8   Area                 10000 non-null  object
 9   City                 8498 non-null   object
dtypes: float64(1), object(9)
memory usage: 781.4+ KB

In [15]:
df1['Rooms']=df1['Rooms'].replace(['Indoor','WMG'],np.nan)
df1['Rooms']=df1['Rooms'].astype(float)
df1['Rooms']=df1['Rooms'].fillna(df1['Rooms'].mean()).astype(int)

In [16]:
df1["Venue_type"]=df1["Venue_type"].str.strip()
df1["Venue_type"]=df1["Venue_type"].str.replace(" Banquet Halls","Banquet Halls")

In [17]:
B=np.random.randint(20000,high=40000)
F=np.random.randint(41000,high=60000)
R=np.random.randint(61000,high=80000)
#Venue_Cost={'Banquet Halls':B, 'Dj':40000, 'Farmhouses':F, 'Resorts':R}
#df1['Venue_Cost']=df1['Venue_type'].map(Venue_Cost)

In [18]:
df1["Minimum"]=df1["Minimum"].replace('WMG Users Choice Awards Winner',np.nan)
df1["Minimum"]=df1["Minimum"].astype(float)

In [19]:
df1['Maximum']=df1["Maximum"].replace('Users',np.nan).astype(float)
df1["Minimum"]=df1["Minimum"].fillna(df1["Minimum"].mean()).astype(int)
df1["Maximum"]=df1["Maximum"].fillna(df1["Maximum"].mean()).astype(int)

In [20]:
df1['People_Attended'] = np.random.randint(low=df1['Minimum'], high=df1['Maximum'] - ((df1['Maximum'] - df1['Minimum']) / 2), size=len(df1)) + (df1['Maximum'] - df1['Minimum']) / 2
df1["People_Attended"]=df1["People_Attended"].fillna(df1["People_Attended"].mean()).astype(int)

In [21]:
decoration_types = ['Royal','Modern', 'Rustic', 'Vintage','Floral']
df1['Decoration_type'] = np.random.choice(decoration_types, size=len(df1))

In [22]:
entertainment_types=["Instrumental","Dj","Singing","Dancing"]
df1['Entertainment_Types'] = np.random.choice(entertainment_types, size=len(df1))

In [23]:
Food_Selected=["Veg","Non-Veg"]
df1['Food_Selected'] = np.random.choice(Food_Selected, size=len(df1))

In [24]:
df1['City'] = df1.apply(lambda row: row['Area'] if pd.isnull(row['City']) else row['City'], axis=1)
df1["City"]=df1["City"].str.strip()

In [25]:
df1["veg_plate_price"]=df1["veg_plate_price"].replace(['Rental Only','On Request'],np.nan)
df1["veg_plate_price"]=df1["veg_plate_price"].str.replace(',','').astype(float)
df1["veg_plate_price"]=df1["veg_plate_price"].fillna(df1["veg_plate_price"].mean()).astype(int)

In [26]:
df1["non_veg_plate_price"]=df1["non_veg_plate_price"].replace('[nan]',np.nan)
df1["non_veg_plate_price"]=df1["non_veg_plate_price"].str.replace(',','').astype(float)
df1["non_veg_plate_price"]=df1["non_veg_plate_price"].fillna(df1["non_veg_plate_price"].mean()).astype(int)

In [27]:
#df1.duplicated().sum()

In [28]:
# create a function to calculate the total cost based on the number of attendees and food selection
def calculate_total_cost(row):
    attendees = row['People_Attended']
    food = row['Food_Selected']
    if food == 'Veg':
        return attendees * row['veg_plate_price']
    else:
        return attendees * row['non_veg_plate_price']

# apply the function to create a new column with total cost
df1['Total_Cost'] = df1.apply(calculate_total_cost, axis=1)

# display the DataFrame with the new column

In [29]:
df1["Total_Cost"]=df1["Total_Cost"]+df1['Decoration_type'].apply(lambda x: 100000 if x=='Royal' else 80000 if x=="Vintage" else 60000 if x=="Modern" else 40000 if x=="Rustic" else 20000)
df1["Total_Cost"]=df1["Total_Cost"]+df1['Entertainment_Types'].apply(lambda x: 40000 if x=='Dj' else 35000 if x=="Singing" else 30000 if x=="Dancing" else 25000)
df1["Total_Cost"]=df1["Total_Cost"]+df1['Venue_type'].apply(lambda x: B if x=="Banquet Halls" else F if x=="Farmhouses" else R)

In [30]:
df1

,Name,Venue_type,veg_plate_price,non_veg_plate_price,Rooms,Ratings,Minimum,Maximum,Area,City,People_Attended,Decoration_type,Entertainment_Types,Food_Selected,Total_Cost
0,The Bristol Hotel,Banquet Halls,2000,2200,83,4.4,50,1200,DLF Phase 1,Gurgaon,756,Royal,Singing,Veg,1668606
1,Le Roma Gardenia,Farmhouses,1000,1200,18,4.6,400,850,North Bangalore,Bangalore,798,Royal,Dj,Non-Veg,1149846
2,Trident Lawn,Farmhouses,1000,1200,7,4.9,900,1500,Vrindavan Colony,Lucknow,1217,Modern,Dancing,Non-Veg,1602646
3,Seven Seas Hotel,Banquet Halls,2600,2800,107,4.2,80,1275,Rohini,Delhi NCR,1171,Vintage,Dj,Veg,3186206
4,Welcomhotel by ITC Hotels,Banquet Halls,1500,1800,171,5.0,100,600,Tambaram,Chennai,384,Royal,Dj,Non-Veg,852806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Hyatt Regency Dharamshala Resort,Banquet Halls,2000,2600,81,5.0,300,400,Dharamshala,Dharamshala,355,Royal,Dj,Non-Veg,1084606
9996,The Royal Imperio,Banquet Halls,1700,1800,31,4.4,120,500,Sector 39,Faridabad,444,Rustic,Dancing,Veg,846406
9997,Chomu Palace Hotel,Banquet Halls,2000,2500,100,4.9,40,500,Chomu,Jaipur,287,Royal,Dancing,Veg,725606
9998,Westin Sohna Resort & Spa,Resorts,4500,4500,97,4.7,150,350,Gurgaon,Delhi NCR,306,Rustic,Dj,Veg,1524732
9999,Rajhans Greens,Farmhouses,1917,2226,40,5.0,70,1500,Bangalore,Bangalore,820,Vintage,Dj,Non-Veg,1997566

In [31]:
#df1.to_csv('Final_Wedding_Cost.csv',index=False)

In [36]:
df1

,Name,Venue_type,veg_plate_price,non_veg_plate_price,Rooms,Ratings,Minimum,Maximum,Area,City,People_Attended,Decoration_type,Entertainment_Types,Food_Selected,Total_Cost
0,The Bristol Hotel,Banquet Halls,2000,2200,83,4.4,50,1200,DLF Phase 1,Gurgaon,756,Royal,Singing,Veg,1668606
1,Le Roma Gardenia,Farmhouses,1000,1200,18,4.6,400,850,North Bangalore,Bangalore,798,Royal,Dj,Non-Veg,1149846
2,Trident Lawn,Farmhouses,1000,1200,7,4.9,900,1500,Vrindavan Colony,Lucknow,1217,Modern,Dancing,Non-Veg,1602646
3,Seven Seas Hotel,Banquet Halls,2600,2800,107,4.2,80,1275,Rohini,Delhi NCR,1171,Vintage,Dj,Veg,3186206
4,Welcomhotel by ITC Hotels,Banquet Halls,1500,1800,171,5.0,100,600,Tambaram,Chennai,384,Royal,Dj,Non-Veg,852806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Hyatt Regency Dharamshala Resort,Banquet Halls,2000,2600,81,5.0,300,400,Dharamshala,Dharamshala,355,Royal,Dj,Non-Veg,1084606
9996,The Royal Imperio,Banquet Halls,1700,1800,31,4.4,120,500,Sector 39,Faridabad,444,Rustic,Dancing,Veg,846406
9997,Chomu Palace Hotel,Banquet Halls,2000,2500,100,4.9,40,500,Chomu,Jaipur,287,Royal,Dancing,Veg,725606
9998,Westin Sohna Resort & Spa,Resorts,4500,4500,97,4.7,150,350,Gurgaon,Delhi NCR,306,Rustic,Dj,Veg,1524732
9999,Rajhans Greens,Farmhouses,1917,2226,40,5.0,70,1500,Bangalore,Bangalore,820,Vintage,Dj,Non-Veg,1997566